.table, .filter-section {
  margin: auto;
}
.table {
  display: table;
}

.table, .dayPicker-cell{
  border: 1px solid rgba(0, 0, 0, 0.226);
}

.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.226);
  text-align: center;
  vertical-align: middle;
}

.sup-header {
  color: #858585;
  font-size: calc(85%);
}

.filter-section{
  background-color:#DDDDE5;
  width: 87%;
  padding: 0 0 21px 10px;
  margin-bottom: 50px;;
}

.trips-table-box, .dayPicker{
  width: 88%;
}

.dayPicker{
  margin-bottom: 40px;
}

.moreDaysBtn{
  background-color: grey;
  width: 7%;;
}

#from-selector{
  margin-right: 20px;
  padding: 10px;
  width: 170px;
}

.selected-day {
  background-color: rgba(6, 174, 186, 0.35);
}

.operator-img {
  max-height: 20px;
  max-width: 80px;
}

#departurePicker{
  padding: 8px 17px 6px 2px;
}